/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF MEYERS RESET */

body {
  font-family: sans-serif;
  color: black;
  width: 100%;
  height: 100;
}

.nav-bar li {
  display: inline;
  float: right;
}

.nav-bar {
  height: 100px;
  text-align: right;
  padding: 10px 10px;
  padding-right: 80px;
  font-size: 20px;
  background-color: rgba(210, 105, 30, .9);
  width: 100vw;
  position: fixed;
  z-index: 1;
  /* padding-right: 50px; */

}

.nav-bar a {
  margin: 30px 30px;
  color: black;
  text-decoration: none;
  display: block;
  letter-spacing: 2px;
}

.nav-bar a:hover{
  color: white;
}

ul {
  padding-right: 60px;
}
.nav-bar img {
  margin-left: 30px;
}

.logo {
  width: 140px;
  height: 100px;
  float: left;
  filter: brightness(80%);
  border: 2px solid rgb(51, 77, 56);
}

.visit-us, .our-journey {
  height: 550px;
  background-color: rgb(22, 27, 23);
  color: white;
  font-size: 90px;
  position: relative;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.our-journey {
  background-image: url("https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 2px 1px black;
}

.visit-us h1, .our-journey h1 {
  letter-spacing: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-section {
  height: 1300px;
  /* width: 100vw; */
  padding: 10px 10px;
  background-color: rgba(212, 209, 209, 0.425);
}

.food, .meat {
  height: 200px;
  width: 100%;
}

.food {
  padding: 60px 0px
}

.food-header, .meat-header{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.food-header {
  padding-left: 40px;
  margin-bottom: 20px;
  border-bottom: 1px chocolate solid;
  width: 700px;
  color: rgb(37, 37, 63);
  /* float: left; */
}

.food-wording {
  float: left;
}

.meat-pies {
  float: right;
  /* padding-right: 90px; */
}

.food-paragraph {
  padding-left: 40px;
  /* float: left; */
  width: 600px;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.5;
  color: rgb(37, 37, 63);
  font-weight: lighter;
}

.meat-pies, .chicken-with-corn {
  /* position: relative; */
  width: 600px;
  height: 550px;
  filter: brightness(70%);
}

.meat-pies {
  /* display: flex; */
  padding-right: 80px;
  border-radius: 3px;
}

.meat {
  /* display: flex; */
  display: inline-block;
  padding: 80px 0px 60px;
}

.meat-paragraph {
  width: 600px;
  /* float: right; */
  font-size: 20px;
  letter-spacing: 3px;
  padding-right: 80px;
  padding-top: 20px;
  line-height: 1.5;
  color: rgb(37, 37, 63);
  font-weight: lighter;
}

.meat-header {
  padding: 20px 0px;
  width: 600px;
  border-bottom: 1px chocolate solid;
  color: rgb(37, 37, 63);
  /* float: left; */
}

.chicken-with-corn {
  float: left;
  padding-left: 80px;
  border-radius: 3px;
}

.meat-wording {
  float: right;
}


.social-media {
  /* display: flex; */
  height: 700px;
  width: 100vw;
  /* float: none; */
  background-color: rgba(212, 209, 209, 0.425);
  text-align: center;
  padding-bottom: 20px;
}

.instagram-handle {
  display: block;
  font-size: 60px;
  text-align: center;
  color: rgb(37, 37, 63);
}

.follow-us {
  font-size: 30px;
  text-align: center;
  padding: 20px 0 80px;
  color: rgb(37, 37, 63);
}

.social-media-image {
  width: 400px;
  height: 400px;
  margin: 20px 20px;
  object-fit: cover;
  filter: brightness(70%);
  border-radius: 3px;
  padding-bottom: 20px;
}

.paragraph {
  height: 800px;
  width: 100vw;
  color: black;
  padding-bottom: 45px;
}

.journey-p {
  width: 600px;
  position: absolute;
  left: 30%;
  padding-top: 20px;
  line-height: 2;
  font-size: 20px;
}